<h1>Show Page</h1>


    <p>
        <img src="<%= @pin.url %>">
    </p>

    <p>
        See more: <%= @pin.url %>
    </p>
    
    <p>
        "<%= @pin.url_comment %>"
    </p>

   
                 
    <%= link_to 'Destroy', @pin, method: :delete, data: {confirm: 'Are you sure you want to delete that delicious pastry?'}%> 
    
