<h1>Show Page</h1>


    <p>
    	<img src="<%= @p.url %>">
    </p>

    <p>
    	See more: <%= @p.url %>
    </p>
    
    <p>
    	"<%= @p.url_comment %>"
    </p>
    	         
    <%= link_to 'Destroy', @pin, method: :delete, data: {confirm: 'Are you sure you want to delete that delicious pastry?'}%> 
    
